---
---

@import "{{ site.theme }}";

/* all changes made from _sass/jekyll-theme-dinky.scss */


body {
  color: #c47289;
  background-color: #f2dce7;

}

a {
  color:#344a32;
}

header li {
  background: #344a32;
  background: linear-gradient(to top, #c47289 0%, #9e4f65 100%);
}

header li:hover {
  background: #f2dce7;
  background: linear-gradient(to top, #d98fa3 0%, #b86a80 100%);
}

.floating-gif {
  position: fixed;       /* stays in bottom-right even when scrolling */
  bottom: 20px;          
  right: 20px; 
  border: none;
  width: 100px;           
  height: auto;          
  z-index: 9999;         
  pointer-events: none;  
  animation: float 3s ease-in-out infinite; 
  outline: none;
}




