---
---

@import "{{ site.theme }}";

/* all changes made from _sass/jekyll-theme-dinky.scss */


body {
  color: #c47289;
  background-color: #f2dce7;

}

a {
  color:#344a32;
}

header li {
  background: #344a32;
  background: linear-gradient(to top, #c47289 0%, #9e4f65 100%);
}

header li:hover {
  background: #2e3b31;
  background: linear-gradient(to top, #d98fa3 0%, #b86a80 100%);
}



